{% extends "blog/base.html" %}
{% block content %}

<form action="{% url 'friendsdataupdate' t_id %}" method="post" name="newForm" id="newForm">
    {% csrf_token %}
    <div class="form-group">
        <label for="description">Details</label>
        <textarea class="form-control" name="desc" id="description" rows="3" required="true"></textarea>
    </div>

    <div class="form-row">
        <div class="col-auto">
            <label for="amount">Amount</label>
            <input type="number" name="amount" class="form-control" id="amount" required="true" placeholder="Amount">
        </div>
        <div class="col-auto">
            <div class="form-group">
                <!-- Date input -->
                <label class="control-label" for="date">Date</label>
                <input class="form-control" id="date" name="date" required="true" placeholder="YYYY-MM-DD"
                    type="date" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputfrom">paid by</label>
        <select id="inputfrom" name="paidby" class="form-control" required="true">
            <option value="{{user.id}}" selected>{{user.first_name}}</option>
            {% for f in frnd %}
            <option value="{{f.id}}">{{f.username}} ({{f.first_name}})</option>
            {% endfor %}
        </select>
    </div>


    <div class="form-group">
        <label for="inputto">to</label>
        <select id="inputto" name="topay" class="form-control" required="true">
            <option selected value="{{user.id}}">{{user.first_name}}</option>
            {% for f in frnd %}
            <option value="{{f.id}}">{{f.username}} ({{f.first_name}})</option>
            {% endfor %}
        </select>
    </div>


    <p>and split</p>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" data-toggle="modal" data-target="#staticBackdrop" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">UnEqually</label>
    </div>

            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
                
                            <div class="form-group">
                                <label for="payer1" class="col-form-label">Percentage 1</label>
                                <input type="number" class="form-control" id="recipient-name" name = 'friend1'>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Percentage 2</label>
                                <input type="number"  class="form-control" id="message-text" name = 'friend2'>
                            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">OK</button>
            </div>
            </div>
        </div>
        </div>


    <button type="submit" class="btn btn-primary">Add</button>

</form>


{% endblock content %}
