{% extends "blog/base.html" %}
{% block content %}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Groups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'activity' %}">Activity</a>
    </li>
  </ul>
  
  <div class="btn-django">
    <button type="button" class="btn btn-dark setter position-sticky " data-toggle="modal" data-target="#staticBackdrop" onclick="location.href='{% url 'new-transaction' %}'" >+</button>
  </div>

  {% block split %}{% endblock %}

{% endblock content %}