{% extends "blog/home.html" %}
{% block split %}
{% load crispy_forms_tags %}

<form action="{% url 'addfriendsingroup' g_id  %}" method="POST">{% csrf_token %}
    <div class="form-group">
        {% for f in frnd %}
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{f.id}}" value="{{f.id}}" name="checks[]">
            <label class="custom-control-label" for="{{f.id}}">{{f.username}} ({{f.first_name}})</label>
        </div>
        {% endfor %}
        <!-- <label for="inputto">to</label>
        <select id="inputto" name="topay" class="form-control" required="true">
            {% for f in frnd %}
            <option value="{{f.id}}"><a href="{% url 'addedfriends' %}">{{f.username}} ({{f.first_name}})</a></option>
            {% endfor %}
        </select> -->
        <button type="submit"class="btn btn-primary">
            ADD
        </button>

    </div>
</form>
{% endblock split %}
