{% extends "blog/base.html" %}
{% block content %}

<form action="{% url 'new-transaction' %}" method="post" name="newForm" id="newForm">
    {% csrf_token %}
    <div class="form-group">
        <label for="description">Details</label>
        <textarea class="form-control" name="desc" id="description" rows="3" required="true"></textarea>
    </div>

    <label for="amount">Amount</label>
    <input type="text" name="amount" class="form-control" id="amount"required="true" placeholder="Amount">

    <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>    
        <input class="form-control" id="date" name="date" required="true" placeholder="YYYY-MM-DD" type="text"/>
    </div>

    <div class="form-group">
        <label for="inputfrom">paid by</label>
        <select id="inputfrom" name="paidby" class="form-control" required="true">
          <option value="{{user.id}}" selected>{{user.first_name}}</option>
          {% for f in frnd %}
                <option value="{{f.id}}">{{f.username}}  ({{f.first_name}})</option>
          {% endfor %}
        </select>
      </div>

    
    <div class="form-group">
        <label for="inputto">to</label>
        <select id="inputto" name="topay" class="form-control" required="true">
          <option selected>choose</option>
          <option value="{{user.id}}">{{user.first_name}}</option>
          {% for f in frnd %}
                <option value="{{f.id}}">{{f.username}}  ({{f.first_name}})</option>
          {% endfor %}
        </select>
    </div>
      
      
      <p>and split</p>

      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" disabled id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">UnEqually</label>
      </div>

      <button type="submit" class="btn btn-primary">Add</button>

</form>

{% endblock content %}
