{% extends "blog/base.html" %}
{% block content %}
<h1>Search</h1>
{% for user in user_search %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="../../../media/{{ user.image }}">
    <div class="media-body">

        <h2><a class="article-title" href="#">{{ user.username}}</a></h2>
        <p class="article-content">{{ user.first_name }}</p>
    </div>
    {% load index %}
    
    {% if 0 == checkArray|index:forloop.counter0 %}
        <button type="submit" onclick="location.href='{% url 'adding' user.id %}'"  name="" class="btn btn-primary" >
            ADD
        </button>
    {% else %}
    <button type="button" class="btn btn-success disabled">ADDED</button>
    {% endif %}        

</article>

{% endfor %}
{% endblock content %}


